* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.navCont {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 60px;
  position: sticky;
  top: 0;
  background-color: rgb(16, 115, 196);
}
.navLinks {
  border: 0px solid black;
  width: auto;
  display: flex;
  align-items: center;

  /* justify-content: space-evenly; */
  gap: 30px;
}
.navOneLink {
  list-style: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 350px) {
  .text_logo {
    font-size: 12px;
  }
  .navCont {
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
  }
  .navOneLink {
    font-size: 14px;
  }
}
