.cartMainContainer {
  height: auto;
  width: auto;
  border: 0px dotted blue;
}
.cartItemContainer {
  height: auto;
  width: 70%;
  border: 3px dotted rgb(29, 138, 246);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
}
.cartImage {
  width: 180px;
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cartLeftContainer {
  height: auto;
  width: auto;
  border: 0px solid teal;
}

.allButtonsContainer {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 10px;
  width: fit-content;
  border: 0px solid red;
}
.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 980px) {
  .cartItemContainer {
    width: 85%;
  }
  .allButtonsContainer {
    gap: 2px;
  }
}
.incButton,
.decButton {
  padding: 5px 16px;
  border: 1px solid rgb(29, 138, 246);
  border-radius: 5px;
  font-size: 16px;
  color: rgb(10, 117, 225);
  cursor: pointer;
}
.countButton {
  font-size: 16px;
  background-color: white;
  padding: 5px 16px;
  border: 1px solid lightgray;
  color: black;
}
.removeButton {
  background-color: maroon;
  font-size: 16px;
  color: white;
  border: 3px solid maroon;
  border-radius: 5px;
  padding: 8px 14px;
  cursor: pointer;
  margin-left: 30px;
}
.totaldiv {
  border: 2px solid rgb(29, 138, 246);
  font-size: 16px;
  color: white;
  background-color: rgb(29, 138, 246);
  padding: 8px 14px;
  border-radius: 5px;
  font-style: italic;
  font-weight: 600;
  margin-left: 30px;
}
.totalpay {
  background-color: rgb(16, 115, 196);
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  position: sticky;
  bottom: 0;
}
@media screen and (max-width: 750px) {
  .cartItemContainer {
    display: block;
  }
  .cartImage {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .cartLeftContainer {
    margin: auto;
    align-self: center;
    border: 0px;
  }
  .allButtonsContainer {
    margin: auto;
    border: 0px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 670px) {
  .cartItemContainer {
    width: 90%;
  }
  .allButtonsContainer {
    gap: 0px;
  }
  .buttonsContainer {
    gap: 2px;
  }
}
@media screen and (max-width: 573px) {
  .cartItemContainer {
    width: 95%;
  }
  .allButtonsContainer {
    display: block;
    margin: initial;
    border: 0px solid blue;
    width: 100%;
  }
  .totaldiv {
    margin-left: 40%;
    width: fit-content;
  }
  .buttonsContainer {
    margin-bottom: 15px;
    margin-left: -35%;
    margin-top: 15px;
  }
  .removeButton {
    margin-left: 60%;
    margin-top: 15px;
  }
}
