.productsCont {
  height: auto;
  width: 90%;
  margin: auto;
  border: 0px solid blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}
body {
  background-color: rgb(224, 236, 240);
}
.productCont {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* box-sizing: border-box; */
  border: 3px solid rgb(29, 138, 246);
  padding: 4px;
  border-radius: 6px;
  /* background-color: rgb(247, 143, 185); */
}
.productImg {
  width: 98%;
  height: 200px;
  display: block;
  margin: auto;
}
/* .productImg:hover {
  width: 280px;
  height: 210px;
} */
.addToCart {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid red;
  color: white;
  background-color: red;
  border-radius: 5px;
  margin-top: 5px;
  align-self: 30px;
  cursor: pointer;
}
.addToCart:hover {
  background-color: white;
  color: red;
  border-color: red;
  font-weight: 700;
}
.giveRating {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid white;
  color: white;
  background-color: rgb(29, 138, 246);
  border-radius: 5px;
  margin-top: 5px;
  align-self: 30px;
  cursor: pointer;
}
.giveRating:hover {
  background-color: white;
  color: black;
  border-color: black;
  font-weight: 700;
}
.productCartAndRatingButton,
.productNameAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.productCartAndRatingButton {
  margin-bottom: 15px;
  margin-top: 15px;
}
.productPrice {
  color: red;
  font-size: 19px;
  text-align: center;
}
.productTitle,
.productPrice,
.productRating {
  margin-left: 10px;
  text-align: center;
}
.productTitle {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1050px) {
  .productsCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .productsCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .productsCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
